@import url("https://fonts.googleapis.com/css2?family=Inter&family=Lato&family=Libre+Baskerville&family=Merriweather:wght@700&family=Work+Sans&display=swap");

h2{
  font-weight: bold;
  border-bottom: 2px solid black;
  text-align: center;

}